<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>
 
<p>
  <strong>Tags:</strong>
  <%= @article.tags %>
</p>

<p>
 <td><%= link_to 'Edit', edit_article_path(@article) %></td>
</p>
<p>
<%= link_to 'List of articles', controller: 'articles' %>
</p>
